@import url(Library.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: 'RACING-FONT';    /* El nombre que usarás para referirte a la fuente */
    src: url('./F1/FONT/MONSTER-RACING-PERSONAL-USED-BF653CEC89D4321.OTF');
}

:root {
  --car-color: #001AFF;
  --car-color-soft: color-mix(in srgb, var(--car-color), white 30%);
  --helmet-icon: url('data:image/svg+xml;utf8,<svg width="82" height="80" viewBox="0 0 82 80" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9999 79.9143C16.0702 79.9065 17.1366 79.7542 18.1679 79.4573L66.4179 65.6643C70.1015 64.5979 73.0195 61.7737 74.207 58.1252L81.125 33.4572C81.2305 33.0314 81.2305 32.59 81.125 32.1642C79.8438 23.254 75.4023 15.1052 68.609 9.1992C61.8157 3.2932 53.125 0.0273 44.125 0H40.625C30.6289 0.019531 20.988 3.7148 13.543 10.387C6.0977 17.055 1.367 26.231 0.25 36.164C0.08203 37.6328 0 39.1054 0 40.582V56.625C0 63.0625 1.9141 69.355 5.5 74.707C7.5898 77.9297 11.1601 79.887 14.9999 79.9143ZM6.2499 56.6253V40.6253V38.5823L25.6249 31.6253L29.1249 49.1683L6.4999 60.3323C6.32802 59.1018 6.24599 57.8635 6.2499 56.6253ZM40.6249 6.25033H44.2069C51.5975 6.26986 58.7339 8.91053 64.3589 13.7034C69.98 18.4925 73.7222 25.1254 74.9179 32.4144L72.2109 42.2074L64.2539 46.3754H64.25C63.1562 47.102 62.6328 48.434 62.9414 49.7074C63.2461 50.9847 64.3203 51.934 65.625 52.0824C66.1055 52.0981 66.5781 51.9809 67 51.7504L69.918 50.3324L68.211 56.2894H68.2071C67.6915 57.9378 66.3712 59.2074 64.7071 59.6644L16.4571 73.2894C14.2696 73.9261 11.9259 73.0628 10.668 71.1644C9.68361 69.6292 8.85939 67.9964 8.20709 66.2894L32.8321 53.7894C32.9922 53.7464 33.1368 53.6605 33.2501 53.5394C39.754 48.9027 44.4021 42.1134 46.3751 34.3754C46.6055 33.5199 46.7188 32.6371 46.7071 31.7504C46.6954 27.8051 44.4766 24.1996 40.9571 22.4145C38.2149 21.1254 35.0469 21.1098 32.293 22.3754L7.54299 31.6254C9.51569 24.352 13.8203 17.9344 19.797 13.3484C25.7737 8.76244 33.0939 6.26993 40.6249 6.25033ZM31.5429 29.2893L34.5429 28.1643C35.6757 27.6253 36.9921 27.6253 38.1249 28.1643C39.5546 28.8674 40.4608 30.3205 40.4569 31.9143C40.5077 32.2464 40.5077 32.5823 40.4569 32.9143C39.3788 37.0588 37.3553 40.8948 34.5428 44.1253L31.5429 29.2893Z" fill="white"/></svg>');
}
body {
    position: relative;
    background-image: url(./F1/Car-study.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
    transition: background-image 0.5s ease;
}
#container-body, #container-game {
    transition: opacity 0.5s ease, display 0.5s ease;
}
#container-game {
    opacity: 0;
    display: none;
}
#title {
    position: absolute;
    user-select: none;
    font-family: 'RACING-FONT', sans-serif;
    font-size: 104px;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    left: 40%;
    top: 64px;
    gap: 20px;
    line-height: 0.8;
}
#title > span:first-child {
    color: white;
    display: flex;
}
#title > span:first-child > span {
    color: var(--car-color);
    font-style: italic;
    font-family: "Bebas Neue", serif;
    margin-left: 24px;
    font-size: 27px;
    margin-top: 3px;
}
#title > span:last-child {
    color: var(--car-color);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 99px
}
#title > span:last-child > span {
    font-size: 40px;
    color: white;
    font-family: "Bebas Neue", serif;
    font-style: italic;
    width: max-content;
    padding-right: 6px;
    margin-left: auto;
    font-weight: 400;
    letter-spacing: 1px;
}
nav{
    position: relative;
    padding-top: 122px;
    left: 75px;
    top: 0px;
    width: 350px;
    height: 786.14px;
    background: linear-gradient(180.02deg, rgba(0, 0, 0, 0.154) 0.01%, rgba(0, 0, 0, 0.28) 5.62%, rgba(0, 0, 0, 0.574) 14.63%, rgba(0, 0, 0, 0.7) 21.28%, rgba(4, 4, 4, 0.7) 25.56%, rgba(0, 0, 0, 0.7) 29.13%, rgba(3, 3, 3, 0.7) 34.95%, rgba(0, 0, 0, 0.7) 41.01%, rgba(0, 0, 0, 0.63) 50.81%, rgba(0, 0, 0, 0.49) 61.45%, rgba(0, 0, 0, 0.238) 75.13%, rgba(0, 0, 0, 0.189) 84.89%, rgba(0, 0, 0, 0.07) 94.39%);
}
nav > h2 {
    font-family: "Bebas Neue", serif;
    user-select: none;
    color: white;
    font-style: italic;
    font-size: 52px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    line-height: 1.08;
}
nav > h2 > span:last-child {
    position: relative;
    left: 110px;
    width: max-content;
}
nav ul{
    color: white;
    user-select: none;
    font-style: italic;
    list-style-type: none;
    font-size: 31px;
    font-weight: 500;
    font-family: "Bebas Neue", serif;
}
nav ul > li {
    border-bottom: 1px solid #d1d1d1;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 16px;
    padding-right: 0px;
    cursor: pointer;
}
nav ul > li > * {
    transition: all 0.3s ease;
}
nav ul > li:first-child {
    border-top: 1px solid #d1d1d1;
}
nav ul > li > i.wrench {
    font-weight: 300;
}
.helmet-icon {
    display: inline-block;
    width: 61px;
    height: 41px;
    background: var(--helmet-icon);
    background-size: contain;
    background-repeat: no-repeat; /* No repetir el fondo */
    background-position: center; /* Centrar el fondo */
}
.button-selected {
    color: #FFE600;
    transform: scale(1.03);
}
.container-form {
    display: flex;
    flex-direction: column;
}
.select-item > span:nth-child(2) > img{
    width: 100%;
    height: 16px;
}
.select-item > span:first-child > img{
    width: 100%;
    height: 20px;
}
.container-car {
    position: absolute;
    bottom: 73px;
    right: 83px;
}
#wrapper-f1-car {
    position: relative;
    z-index: 2;
    /* display: none; */
}
#wrapper-f1-car > svg {
    width: 100%;
    height: 268px;
    pointer-events: none;
}
#wrapper-f1-car img.shadow {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.container-car .shadow {
    position: absolute;
    bottom: 0px;
    left: 46%;
    transform: translateX(-50%);
    width: 95%;
    height: 34px;
    background: rgb(0 0 0 / 37%);
    border-radius: 50%;
    filter: blur(5px);
    z-index: 1;
}

/* FORMULARYS ---------------- */
.formulary {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease;
}
.formulary.visible {
    opacity: 1;
    visibility: visible;
}
/* vehicle */
#create-vehicle {
    position: absolute;
    z-index: 100;
    top: 309px;
    left: 459px;
}
#create-vehicle > div:first-of-type, #create-participant > div:first-of-type, #create-circuit > div:first-of-type {
    background-color: #00000052;
    padding: 13px;
    padding-top: 5px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.form-fields > div:first-child > span {
    font-size: 12px;
    user-select: none;
}
div.form-fields > div:first-child {
    color: white;
    user-select: none;
    font-family: "Poppins", serif;
}
div.form-fields > div:last-child {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
#form-buttons {
    position: absolute;
    top: 23px;
    right: 38px;
}
#form-buttons > button {
    width: 148px;
    height: 46px;
    font-size: 22px;
    border: none;
    background: white;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    font-family: "Bebas Neue", serif;
    color: black;
    font-style: italic;
    padding-top: 2px;
}
#form-buttons button:hover {
    transform: scale(1.05);
}
#create-vehicle .vm-custom-input-number {
    width: 54px;
}
#create-vehicle .vm-custom-dropdown > .dropdown-list > .dropdown-item {
    font-size: 12.5px;
}

/* participant */

#create-participant {
    position: absolute;
    top: 317px;
    left: 645px;
    z-index: 200;
    transition: all 0.3s ease;
}

/* circuit */

#create-circuit {
    position: absolute;
    z-index: 100;
    top: 322px;
    left: 651px;
}

#create-circuit > div:first-of-type {
    padding-top: 13px !important;
}

/* ----------- */
#contain-button-start {
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
    z-index: 100;
    top: 67px;
}

#START {
    width: 173px;
    height: 49px;
    background-image: url("data:image/svg+xml,%3Csvg width='173' height='49' viewBox='0 0 173 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.83801 47L18.9094 2H169.662L153.591 47H2.83801Z' stroke='white' stroke-width='4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    font-size: 24px;
    padding-top: 2px;
    font-style: italic;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
    transition: all 0.5s ease;
}
#START:hover {
    transform: scale(1.2);
}
.vm-custom-input-number > .buttons > button {
    background-color: #ffffff00;
    border: 2px solid #ffffff;
}
.vm-custom-input-number > .buttons > button > svg > path {
    color: #ffffff;
    stroke-width: 2.7px;
}
.vm-custom-dropdown > .dropdown-input:focus {
    border: 2px solid var(--car-color-soft);
    box-shadow: 1px 1px 5px var(--car-color-soft);
}
.vm-custom-select > .select-list > .select-item {
    color: black;
    font-size: 12px;
}
#create-vehicle .vm-custom-input-number {
    width: 77px;
}

/* ALERT-MODAL ----------------- */
#alert-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}
#alert {
    --alert-radius: 20px;
    width: 428px;
    display: flex;
    justify-content: space-between;
    height: 111px;
    border-radius: var(--alert-radius);
    background-color: white;
    padding-left: 24px;
}
#alert > div.contain-alert {
    display: flex;
    gap: 20px;
}
#alert > div.contain-alert > div.description-alert {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", serif;
    font-size: 13px;
}
#alert > div.contain-alert > div.description-alert > h3 {
    font-family: "Bebas Neue", serif;
    font-weight: 100;
    font-size: 26px;
}
#alert > div.contain-alert > i {
    display: flex;
    align-items: center;
    color: red;
    font-size: 41px;
    font-weight: bolder;
}

#alert > button {
    outline: none;
    background-color: white;
    border: none;
    border-left: 2px solid #e3e3e3;
    width: 68px;
    border-top-right-radius: var(--alert-radius);
    border-bottom-right-radius: var(--alert-radius);
    margin-left: 29px;
}
#alert > button > i {
    font-size: 27px;
    font-weight: bolder;
    color:#c2c2c2;
}

/* SHOW STATISTICS ---------------- */

#show-statistics {
    position: absolute;
    top: 408px;    
    font-size: 19px;
    font-family: "Poppins", serif;
    font-style: italic;
    left: 493px;
    display: flex;
    color: white;
    flex-direction: column;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.509);
}
#show-statistics > span > span {
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.62);
    font-family: "Bebas Neue", serif;
    font-style: italic;
    margin-right: 10px;
    font-size: 30px;
}
.vehicle-statistics {
    left: 459px !important;
}
.participant-statistics {
    flex-direction: row !important;
    left: 439px !important;
    top: 367px !important;
}
.participant-statistics > span {
    display: flex;
    font-size: 46px;
    flex-direction: column;
    justify-content: center;
    font-family: "Bebas Neue", serif;
    align-items: center;
}
.participant-statistics > span > img {
    height: 141px;
}
.participant-statistics > span:first-of-type {
    position: relative;
    left: 20px;
}
.participant-statistics > span:nth-child(2) img {
    height: 207px !important;
}
.participant-statistics > span:last-of-type {
    position: relative;
    right: 18px;
}

/* Assign participant to circuit */

#circuit-participants {
    position: absolute;
    top: 71px;
    right: 50px;
    display: flex;
    gap: 20px;
    z-index: 200;
    align-items: center;
}
#circuit-participants input {
    border-radius: 5px;
    cursor: pointer;
}
#circuit-participants button {
    background-color: black;
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 21px;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}
#load-circuit {
    display: flex;
    position: absolute;
    align-items: center;
    top: 222px;
    gap: 23px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#load-circuit button {
    background-color: black;
    font-family: "Bebas Neue", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 21px;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 8px 40px;
    cursor: pointer;
}
#load-circuit > div > input {
    border-radius: 5px !important;
    cursor: pointer;
}
.circuit-data {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Poppins", serif;
    font-style: italic;
    color: white;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    border: 1px solid #ffffff;
    border-bottom: none;
    gap: 48px;
    padding: 7px 15px;
}
.circuit-data span {
    display: flex;
    align-items: center;
    gap: 9px;
}
.circuit-data span img {
    width: 29px;
}
.circuit-data span i {
    font-size: 20px;
}
#container-vehicles-circuit {
    display: flex;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
    top: 204px;
    gap: 0px;
}
#container-vehicles-circuit .car-wrapper {
    position: relative;
    height: 84px;
}

#container-vehicles-circuit .car-wrapper div {
    position: absolute;
    transition: left 0.2s linear;
}
#container-vehicles-circuit .moto-wrapper div svg {
    width: 118px !important;
    transform: scaleX(1) !important;
}
#container-vehicles-circuit .moto-wrapper div {
    height: 96px;
}
#container-vehicles-circuit svg {
    width: 211px;
    height: 100%;
    transform: scaleX(-1);
}
#container-vehicles-circuit p.name_participant {
    color: white;
    text-align: center;
    margin-top: -6px;
    font-family: 'Poppins';
    font-size: 11px;
    font-style: italic;
}

#GAME {
    position: absolute;
    bottom: 14px;
    right: 42px;
    width: 173px;
    height: 49px;
    background-image: url("data:image/svg+xml,%3Csvg width='173' height='49' viewBox='0 0 173 49' fill='rgb(199, 199, 199)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.83801 47L18.9094 2H169.662L153.591 47H2.83801Z' stroke='rgb(199, 199, 199)' stroke-width='4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    font-family: "Bebas Neue", serif;
    font-size: 27px;
    padding-top: 2px;
    font-style: italic;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(141 141 141);
    transition: all 0.5s ease;
} 
#GAME:hover {
    transform: scale(1.2);
}
#HOME {
    font-family: "Bebas Neue", serif;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.51);
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 27px;
    color: white;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 16px;
    top: 11px;
    transition: all 0.5s ease;
}
#HOME i.ico-house {
    width: 32px;
    height: 29px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='29' viewBox='0 0 32 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_3622_1595)'%3E%3Cpath d='M12.0647 16.8273V24H4.91696V13.8912H2.00813C2.00813 13.1809 1.98115 12.5364 2.02548 11.8958C2.03705 11.7216 2.23945 11.5319 2.39752 11.4003C6.44558 8.00172 10.5033 4.61471 14.5456 1.20835C14.906 0.904488 15.1296 0.950938 15.4612 1.23158C19.488 4.61858 23.5303 7.98623 27.5475 11.3849C27.7808 11.5823 27.9196 11.9713 27.9639 12.2926C28.0333 12.7842 27.9813 13.2932 27.9813 13.8622H25.1361V23.9768H17.9189V16.8254H12.0608L12.0647 16.8273Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3622_1595' x='0' y='0' width='32' height='29' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='1' dy='2'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.51 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3622_1595'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3622_1595' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
#HOME:hover {
    transform: scale(1.10);
}
